{% extends 'base.html' %}
{% block content %}
{% load bootstrap %}
{% include 'nav_cat_bar.html' %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写虚拟化平台信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    {% if emg %}
                        <div class="alert alert-warning text-center">{{ emg }}</div>
                    {% endif %}
                    {% if smg %}
                        <div class="alert alert-success text-center">{{ smg }}</div>
                    {% endif %}
                    <form id="platform_form" method="post" class="form-horizontal">


                        {{ platform_form.platform_name|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>

                        {{ platform_form.virtual_type|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>

                        {{ platform_form.zone|bootstrap_horizontal }}
                        <div class="hr-line-dashed"></div>
{##}
{#                        {{ host_form.env_type|bootstrap_horizontal }}#}
{#                        <div class="hr-line-dashed"></div>#}

                        {{ host_form.hostname|bootstrap_horizontal }}


                        <div class="hr-line-dashed"></div>
                        {{ host_form.ip|bootstrap_horizontal }}


                        <div class="hr-line-dashed"></div>
                        {{ host_form.username|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ host_form.password|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ host_form.sn|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ host_form.brand|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ idrac_form.Idrac_ip|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ idrac_form.Idrac_user|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ idrac_form.Idrac_passwd|bootstrap_horizontal }}


                        <div class="hr-line-dashed"></div>
                        {{ host_form.comment|bootstrap_horizontal }}



                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-white" type="submit"> 重置 </button>
                                <button class="btn btn-primary" type="sumbit"> 提交 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var required_fields = ["id_platform_name","id_virtual_type","id_host_name","id_host_ip"];
    required_fields.forEach(function(field) {
        $('label[for="' + field + '"]').parent().addClass("required");
    });

    $('#platform_form').validator({
        timely: 2,
        theme: "yellow_right_effect",
        fields: {
            "#id_virtual_type":{
                rule: "required",
                tip: "选择平台类型",
                ok: "",
                msg: {required: "平台类型必须选择!"},
                data: {'data-ok':"平台类型可以使用", 'data-msg-required': '平台类型已正确'}
            },

            "#id_platform_name":{
                rule: "required",
                tip: "输入平台名称",
                ok: "",
                msg: {required: "平台名称必须填写!"},
                data: {'data-ok':"平台名称可以使用", 'data-msg-required': '平台名称已正确'}
            },
            "#id_host_name": {
                rule: "required",
                tip: "输入主机名称",
                ok: "",
                msg: {required: "主机名称必须填写!"},
                data: {'data-ok':"主机名称可以使用", 'data-msg-required': '主机名称已正确'}
            },
            "#id_host_ip": {
                rule: "required",
                tip: "输入主机IP",
                ok: "",
                msg: {required: "主机IP必须填写!"},
                data: {'data-ok':"主机IP可以使用", 'data-msg-required': '主机IP已正确'}
            },

        },
        valid: function(form) {
            form.submit();
        }
    });
</script>

{% endblock %}